* {
    margin: 0;
    padding: 0;
}

#navegation {
    height: 60px;
    width:100%;
    box-shadow: 0 0  .5px #cecece, 0 0 1px #cecece, 0 0 5px;
    background-color: #E8DFD3;
    position: fixed;
    margin-top: 0;
    margin-bottom: 10px;
}

#central {
    width: auto;
    height: 2500px;
    background-color: #E8DFD3;
}

#tecno {
    width: 50%;
    height: 200px;
    margin-left: 20%;
    margin-top: 120px;
    padding-left: 10%;
    
}

#central section h1 {
    padding-top: 120px;
    text-align: center;
    font-size: 70px;
}

#central section h2 {
    padding-top: 80px;
    text-align: center;
    font-size: 50px;
}

#program {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-left: 38%;
    margin-top: 50px;
}

#tecno_program {
    width: 150px;
    height: 190px;
    margin-left: 5%;
}

.container_form {
    width: 60%;
    height: 800px;
    border: 2px solid gray;
    border-radius: 8px;
    margin-top: 80px;
    margin-left: 20%;
}

#unorder_list {
    float: right;
    margin-right: 20px;
}

ul li {
    list-style: none;
    float: left;
    margin-top: 20px;
    margin-left: 15px;
    padding: 5px;
}

ul li a {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-family: Seymour One, sans-serif;
}

#social {
    width: auto;
    height: 500px;
    background-color: #232222;
}

#redes {
    width: 350px;
    height: 350px;
    margin-left: 10px;
    margin-top: 20px;
    padding-top: 60px;
    float: left;
}

#redes a {
    text-decoration: none;
    font-size: 45px;
    margin-top: 30px;
    margin-left: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}

#redes a:hover {
    color: transparent;
    text-shadow: 0 0  .5px #ffffff, 0 0 1px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff;
}

#content_item {
    width: 150px;
    height: 40px;
    display: block;
    margin-left: 25%;
    margin-top: 30px;
    padding-top: 5px;
    border-radius: 4px;
}




.first_item {
    margin-top: px;
}

#barra_lateral {
    margin-top: 50px;
    margin-left: 15px;
    width: 3px;
    height: 380px;
    background-color: #ffffff;
    float: left;
}

#about {
    width: 600px;
    height: 350px;
    margin-left: 15px;
    float: left;
}

#about h3 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
}

#about p {
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#parrafo {
    width: 350px;
    height: 280px;
    margin-left: 20%;
}

#parrafo p {
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#qr {
    width: 310px;
    height: 390px;
    display: inline-block;
    margin-top: 5%;
    margin-left: 1%;
}

#qr img {
    margin-top: 40px;
    margin-left: 8px;
}

#pie p{
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}