* {
    margin: 0;
    padding: 0;
}

#navegation {
    height: 50px;
    width:auto;
    border: 4px black;
    background-color: aquamarine;
}

#unorder_list {
    float: right;
    margin-right: 20px;
}

ul li {
    list-style: none;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    padding: 5px;
}

ul li a {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-family: Seymour One, sans-serif;
}